
body{
    background-color: #f78524;
    text-align: center;
    padding-top: 5rem;
    color: white;
    font-family: sans-serif;
    font-size: 130%;
}
button{
    border: 1px solid white;
    color: #f78524;
    padding: 1rem 2rem;
    border-radius: 5px;
    background-color: white;
    font-size: 100%;
    transition: all ease-in-out .3s;
    outline: none;
}
button:hover{
    color: white;
    background-color: #f78524;
}